.modal-background {
  z-index: 1;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.add-member-modal-container{
  h1 {
    margin-left: 48px;
    margin-bottom: 10px;
  }

  .close-btn {
    margin-left: 430px;
    font-size: 18px;
  }

  width: 450px;
  position: absolute;
  top: calc(50% - 357px);
  left: calc(50% - 225px);
  background-color: white;
  z-index: 1;
  padding: 20px;
  border: 2px solid #BDBDBD;
  .add-member-form {
    display: flex;
    flex-direction: column;
  }
  .close-btn:hover {
    cursor: pointer;
  }
}

.add-member-form {
  .validationResult {
    margin-left: 48px;
    color: #F05452;
  }
  span {
    color: #F05452;
  }
  input {
    margin-left: 48px;
    width: 350px;
    height: 50px;
    border: 2px solid #BDBDBD;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  label {
    margin-left: 48px;
    width: 350px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #585858;
    margin-bottom: -25px;
    margin-top: 25px;
  }
  button {
    margin-left: 48px;
    width: 350px;
    height: 50px;
    color: white;
    background: #2C58B1;
    border-radius: 7px;
    margin-top: 30px;
    height: 35px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  }
  select {
    margin-left: 48px;
    width: 350px;
    height: 50px;
    border: 2px solid #BDBDBD;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }

  .save-button-container {
    margin-bottom: 20px;
  }
}