.recover-password-modal-container{
    h2 {
        margin-top: 0px;
        margin-left: 48px;
        margin-bottom: 43px;
        font-weight: 600;
        font-family: Montserrat;
        font-size: 28px;
    }

    .close-btn {
        margin-left: 410px;
        font-size: 18px;
    }

    border-radius: 2%;
    width: 450px;
    height: 338px;
    position: absolute;
    top: calc(50% - 357px);
    left: calc(50% - 225px);
    background-color: white;
    z-index: 1;
    padding-top: 20px;
    border: 2px solid #BDBDBD;

    .recover-password-form {
        display: flex;
        flex-direction: column;
    }
    .close-btn:hover {
        cursor: pointer;
    }
}

.recover-password-form{
    label {
        margin-left: 47px;
        font-family: 'Montserrat', sans-serif;
        color: #585858;
        font-size: 16px;
        line-height: 20px;
        color: #585858;
    }

    input {
        margin-left: 47px;
        margin-top: 10px;
        width: 330px;
        height: 50px;
        border: 2px solid #BDBDBD;
        box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
    }

    input[type="text"]{
        padding-left: 18px;
    }

    .recovery-button {
        margin-left: 48px;
        margin-top: 20px;
    }

    p {
        margin-top: 43px;
        margin-left: 47px;
        margin-right: 53px;
        font-family: Montserrat;
        font-size: 18px;
        line-height: 28px;
        color: #585858;
    }
        
  .validationResult {
    margin-left: 48px;
    color: #F05452;
  }
}

