@import url('https://fonts.googleapis.com/css2?family=Montserrat');

.topNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 32px 32px 0 32px;
  #ucsfLogo {
    height: 4.21vh;
  }
  #poweredByCWLogo {
    height: 3.73vh;
  }
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2.5em;
    line-height: 55px;
    color: #F05452;
  }
  h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 34px;
    color: #333333;
  }
}

.doctorContainer > * {
  z-index: -1;
}

.doctor1 {
  position: absolute;
  left: 7.43%;
  right: 74.29%;
  bottom: 0%;
  height: 33vh;
}

.doctor2 {
  position: absolute;
  left: 29.18%;
  right: 56.32%;
  bottom: 0%;
  height: 33vh;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  background-color: #EFEFEF;
  width: 498px;
  height: 397.89px;
  margin-top: 5%;
  padding: 40px 80px 80px 80px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 5px;
  input {
    border: 2px solid #BDBDBD;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  label {
    font-family: 'Montserrat', sans-serif;
    color: #585858;
    margin-bottom: 5px;
    margin-top: 25px;
  }
  button {
    color: white;
    background: #2C58B1;
    border-radius: 7px;
    margin-top: 30px;
    height: 35px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  }
  a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #2C58B1;
    margin-top: 30px;
    text-decoration: none;
  }
  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  width: 711px;
  height: 88px;
  margin-top: 90px;
}

