.manage-teams-container {
  .mainBtn {
    border: 2px solid #BDBDBD;
    border-radius: 7px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    text-align: right;
    color: #2C58B1;
    margin-left: 30px;
  }
  h1 {
    margin-left: 30px;
  }
}