@import './color.scss';
@import './include-media';

html,
body,
#app,
#app > div,
#root {
  display: flex;
  flex-direction: column;
  min-width: 99vw;
  min-height: 99vh;
  // Default text style
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: $darkGray;
  margin: 0;
}

.hidden {
  display: none;
}

h1 {
  @include media('>phone') {
    margin-top: 52px;
  }
  @include media('<=phone') {
    margin-top: 26px;
  }
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}

input {
  width: 390px;
  height: 40px;
  border: 1px solid $lightMediumGray;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  color: $darkGray;
  padding-left: 20px;
}

select {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  color: $darkGray;
}

label {
  font-size: 18px;
  font-weight: 500;
}

a {
  color: $bluejay;
  text-decoration: none;
}

.small-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.xs-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.module-container {
  @include media('>phone') {
    margin: 0 98px;
  }
  @include media('<=phone') {
    margin: 0 5px;
  }

  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-right: 101px;
}

.module-container-login {
  padding-right: 0px;
}
