@import 'screens/login';
@import 'screens/settings';
@import 'screens/add_member_modal';
@import 'screens/forgot_password_modal';
@import 'screens/change_password_modal';
@import 'screens/change_role_modal';
@import 'screens/change_status_modal';
@import 'components/footer';
@import 'components/navbar';
@import 'components/toast';
@import 'components/button';
@import 'components/modal';
@import 'components/profile_photo';

.hidden {
  display: none;
}

body {
  margin: 0px;

  // Default text style
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #383838;
}

h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}

input {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  color: #383838;
}

select {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  color: #383838;
}

.small-text{
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.xs-text{
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.module-container {
  min-height: 86vh;
  margin: 0 98px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
