node_modules
.DS_Store
dist
**/.vscode/*
.env
.env.local
**/src/config/firebase.config.local.template
**/src/config/firebase.config.*.js
**/functions/config/firebase.config.local.template
**/functions/config/firebase.config.*.js
