rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // This rule allows anyone on the internet to view, edit, and delete
    // all data in your Firestore database. It is useful for getting
    // started, but it is configured to expire after 30 days because it
    // leaves your app open to attackers. At that time, all client
    // requests to your Firestore database will be denied.
    //
    // Make sure to write security rules for your app before that time, or else
    // your app will lose access to your Firestore database
    
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin;
    }    
    
    match /{document=**} {
      allow read, write: if isAdmin();
    }
    
    match /signed_reports/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    // remove for live
    match /diagnosis_permission_number/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    // remove for live
    match /positive_diagnosis/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}