@import '../color.scss';

// Common button class
.button {
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  text-align: center;
  border-style: solid;

  &:hover {
    cursor: pointer;
  }
}

// Button size classes

.btn-small {
  width: 60px;
  height: 25px;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  border-width: 1.5px;
}

.btn-medium {
  font-weight: 600;
  font-size: 16px;
  height: 35px;
  line-height: 20px;
  border-width: 2px;
  padding: 0px 10px;
}

// Duplicate of btn-medium but with height 25px
.btn-short-and-wide {
  font-weight: 600;
  font-size: 18px;
  height: 25px;
  line-height: 22px;
  border-width: 2px;
  padding: 10px;
}

.btn-fullwidth {
  width: 100%;
}

// Button color classes

// Blue background
.btn-primary {
  background: $bluejay;
  color: $white;
  border-color: $bluejay;
}

// Blue text, blue border
.btn-secondary {
  background-color: $white;
  color: $bluejay;
  border-color: $bluejay;
}

// Blue text, gray border
.btn-tertiary {
  background-color: $white;
  color: $bluejay;
  border-color: $lightMediumGray;
}

// Disabled button
.disabled {
  background: $white;
  color: $lightMediumGray;
}

.progress-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  height: 49px;
}

.save-button {
  width: 350px;
  height: 49px;
  align-items: center;
}
