#footer {
  display: 'flex';
}

.footerContainer {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;

  #footer-text {
    display: flex;
  }
  
  a {
    font-family: Montserrat;
    font-size: 12px;
    text-align: center;
    color: #2C58B1;
    text-decoration: none;
    margin-right: 50px;
  }
  p {
    font-family: Montserrat;
    font-size: 12px;
    text-align: center;
    color: #828282;
    margin: 0px;
    margin-right: 50px;
  }
}