@import '../color.scss';

#footer {
  display: flex;
  // `margin-top: auto;` pins the footer to the bottom of the app, see https://stackoverflow.com/a/33924704
  margin-top: auto;
}

.footer-not-login {
  @include media('>phone') {
    padding-right: 101px;
  }
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @include media('>phone') {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 98px;
    margin-right: 98px;
  }
  @include media('<=phone') {
    flex-direction: column;
  }

  #footer-text {
    display: flex;
    align-items: center;
    @include media('>phone') {
      flex-direction: row;
    }
    @include media('<=phone') {
      flex-direction: column;
      width: 100%;
    }
  }

  p,
  a {
    text-align: center;
    @include media('>phone') {
      margin-left: 50px;
    }
    @include media('<=phone') {
      margin-top: 3px;
      margin-bottom: 5px;
    }
  }
  p {
    color: $darkMediumGray;
    @include media('>phone') {
      margin: 0px;
    }
    @include media('<=phone') {
      margin-top: 5px;
    }
  }
}
