@import '../color.scss';

.modal-background {
  z-index: 1;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.modal-container {
  border-radius: 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1;
  border: 2px solid $lightMediumGray;

  .close-btn {
    font-size: 18px;
    position: absolute;
    top: 30px;
    right: 30px;

    :hover {
      cursor: pointer;
    }
  }
}
