@import '../include-media';

.modal-input {
  margin-top: 15px;
  width: 100%;

  label {
    font-size: 16px;
  }

  input {
    @include media('>phone') {
      width: 350px;
    }
    @include media('<=phone') {
      width: 100%;
    }
    margin-top: 8px;
    border-radius: 7px;
  }

  span {
    color: $tangerine;
  }

  .validationResult {
    height: 15px;
    color: $tangerine;
  }
}
