@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

.module-container-branding{
    margin-left: 66px !important;
}

.branding-container {
  display: flex;
  flex-direction: row;
}

.branding-header {
  margin-left: 32px;
}

.branding-section {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 32px;
}

.section-heading {
  height: 58px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  /* Dark Gray */
  color: #383838;
}

.section-description {
  height: 80px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  /* Dark Gray */
  color: #383838;
}

.section-input {
  resize: none;
  border: 1.5px solid #bdbdbd;
  border-radius: 7px;
}

textarea {
  padding: 2.5%;
  width: 95%;
  height: 19.5vh;
  flex: 1;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #383838;
}

// #contact-button {
  // width: 212px;
  // height: 35px;
  // font-size: 14px;
  // line-height: 35px;
// }

.cancel-button {
  margin-left: 10px;
}
