@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

.module-container-branding{
    margin-left: 66px !important;
}

.branding-container {
  display: flex;
  flex-direction: row;
}

.branding-header {
  margin-left: 32px;
}

.branding-section {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 32px;
}

.section-heading {
  height: 58px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  /* Dark Gray */
  color: #585858;
}

.section-description {
  height: 80px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  /* Dark Gray */
  color: #585858;
}

.section-input {
  resize: none;
  border: 1.5px solid #bdbdbd;
  border-radius: 7px;
}

textarea {
  padding: 2.5%;
  width: 95%;
  height: 19.5vh;
  flex: 1;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #585858;
}

.save-button-container {
  margin: auto;
  margin-top: 32px;
  width: 350px;
}

.save-button {
  width: 350px;
  height: 50px;
  background: #2c58b1;
  border-radius: 7px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 50px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.save-button:hover {
  cursor: pointer;
}

#contact-button {
  width: 212px;
  height: 35px;

  /* Gradient White */
  background: #ffffff;
  /* Gray 4 */
  border: 2px solid #bdbdbd;
  border-radius: 7px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  /* Bluejay */
  color: #2c58b1;
}

#contact-button:hover {
  cursor: pointer;
}

.save-or-edit-button {
  width: 60px;
  height: 25px;

  /* Gradient White */
  background: #ffffff;
  /* Gray 4 */
  border: 1.5px solid #bdbdbd;
  border-radius: 7px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 650;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  /* Bluejay */
  color: #2c58b1;
}

.save-or-edit-button:hover {
  cursor: pointer;
}

.cancel-button {
  width: 60px;
  height: 25px;

  /* Gradient White */
  background: #ffffff;
  /* Gray 4 */
  border: 1.5px solid #bdbdbd;
  border-radius: 7px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 650;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  /* Bluejay */
  color: #727272;

  margin-left: 10px;
}

.cancel-button:hover {
  cursor: pointer;
}
