.change-status-modal-container {
  width: 360px;
  min-height: 240px;
  padding: 25px 27px 44px 49px;

  h2 {
    margin-top: 10px;
    margin-bottom: 35px;
    font-weight: 600;
    font-family: Montserrat;
    font-size: 28px;
  }

  p {
    color: #383838;
    font-size: 16px;
    line-height: 20px;
    margin-right: 15px;
    margin-bottom: 14px;
  }

  b {
    font-weight: 600;
  }

  .button {
    width: 165px;
    height: 45px;
    margin-top: 32px;
  }
  
  .confirm {
    margin-left: 12px;
  }
}
