@import '../color.scss';

.change-password-modal-container {
  h3 {
      margin-top: 30px !important;
  }

 max-height: 463px;

  &.err-timeout {
    max-height: 564px + 8px;
  }

  p {
    margin-bottom: 17px;
  }

  .progress-container{
      margin-bottom: 30px;
  }
}

.reset-password-modal-container{
    height: 500px;
}

.change-password-form {
  .save-password {
    &.disabled {
      border: 2px solid $lightMediumGray;
    }
  }
}
