.change-password-modal-container {
  width: 350px;
  max-height: 417px + 12px;
  padding: 20px;

  &.err-timeout {
    max-height: 564px + 8px;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 17px;
    font-weight: 600;
    font-family: Montserrat;
    font-size: 28px;
  }

  p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 28px - 11px;
  }

  .close-btn {
    margin-left: 330px;
    font-size: 18px;
  }

  .add-member-form {
    display: flex;
    flex-direction: column;
  }
  .close-btn:hover {
    cursor: pointer;
  }
}

.change-password-form {
  .validationResult {
    color: #F05452;
    font-size: smaller;
    min-height: 16px;
  }
  span {
    color: #F05452;
  }
  input {
    width: 350px;
    height: 50px;
    border: 2px solid #BDBDBD;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  label {
    width: 350px;
    height: 50px;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #585858;
    margin-top: 11px;
  }
  .save-password, .save-password-disabled {
    width: 350px;
    height: 50px;
    border-radius: 7px;
    margin-top: 14px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .save-password {
    color: white;
    background: #2C58B1;
    border: 15px;
    cursor: pointer;
  }

  .save-password-disabled {
    color: #BDBDBD;
    background: white;
    border: 2px solid #BDBDBD;
    pointer-events: none;
  }
}
