@import '../color.scss';

.change-password-modal-container {
  width: 380px;
  max-height: 417px + 12px;
  padding: 20px;

  &.err-timeout {
    max-height: 564px + 8px;
  }

  p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 28px - 11px;
  }

  .add-member-form {
    display: flex;
    flex-direction: column;
  }
}

.reset-modal-container {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}

.change-password-form {
  .validationResult {
    color: $tangerine;
    font-size: smaller;
    min-height: 20px;
  }
  span {
    color: $tangerine;
  }
  .save-password {
    width: 380px;
    height: 49px !important;
    border-radius: 7px;
    margin-top: 14px;
    height: 40px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    &.disabled {
      border: 2px solid $lightMediumGray;
    }
  }

  .progress-container {
    margin-top: 25px;
    display: block;
    // height is hacky for now - modal refactor should address this in better way
    height: 70px;
  }
}
