.change-role-modal-container {
  min-height: 230px;
  padding-bottom: 27px;

  h3 {
    margin-top: 0px;
    margin-bottom: 35px;
  }

  p {
    margin-right: 15px;
    margin-bottom: 14px;
  }

  .role-change {
    margin-left: 1em;
  }

  b {
    font-weight: 600;
  }
}
