@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

.tooltip {
  margin-left: 57px;
  position: relative;
  display: flex;
  justify-content: center;
}

.tooltip-msg {
  visibility: hidden;
  // if we adjust the width, the margin-left will need to be adjusted the same proportion
  width: 300px;
  margin-left: -150px;
  color: #222222;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;

  /* Gradient White */
  background: #ffffff;
  /* Gray 4 */
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 12px;
  line-height: 17px;
  padding: 10px;
}

.tooltip-title {
  font-weight: bold;
}

.tooltip-msg::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-msg {
  visibility: visible;
  opacity: 1;
}

#actions-box {
  margin-top: 48px;
  height: 407px;
  display: flex;
  align-items: center;
  justify-content: center;

  .section-heading-container {
    display: flex;
    margin-top: 21px;
  }

  .validation-container {
    height: 340px;
    width: 454px;
    border-radius: 2%;
    background-color: #ffffff;
    border: 2px solid #bdbdbd;

    h2 {
      margin-left: 81px;

      color: #383838;
      font-family: Montserrat;
      font-weight: bold;
      font-size: 24px;
    }

    .validation-text {
      margin-left: 81px;
      margin-right: 75px;

      font-family: Montserrat;
      font-size: 16px;
      color: #383838;
    }

    .code-box {
      height: 42px;

      margin-left: 81px;
      margin-right: 88px;
      margin-top: 23px;

      padding-top: 2px;
      padding-bottom: 2px;

      border: 2px dashed #bdbdbd;

      font-family: Montserrat;
      font-size: 34px;
      font-weight: 600;
      color: #383838;
      text-align: center;
    }

    .generate-button {
      margin-left: 81px;
      margin-right: 85px;
      margin-top: 26px;

      width: 285px;
    }
  }
}

.gray-background {
  background-color: #e5e5e5;
}
