@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

  #diagnosis-codes {
    h1 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      display: flex;
      align-items: center;
      color: #383838;
    }

    h2 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
      color: #383838;
      margin-bottom: 60px;
    }

    .row {
      display: flex;
      margin-bottom: 60px;
      
      .col-1 {
        width: 30%;
        margin-right: 50px;

        .sect-header {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #383838;
        }
  
        p {
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #383838;
        }
      }
      .col-2 {
        width: 50%;
        display: flex;
        flex-direction: column;

        input {
          margin-right: 10px;
        }

        .col-2-header-container {
          margin-top: 2px;
        }

        .radio {
          display: flex;
          margin-bottom: 20px;

          .col-2-header {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
            color: #383838;
            margin-bottom: 6px;
          }
  
          .col-2-sub-header {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #828282;
          }
        }

        #code-box {
          margin-top: 40px;
          border: 1px solid #BDBDBD;
          box-sizing: border-box;
          border-radius: 4px;
          font-family: Montserrat;
          font-style: italic;
          font-weight: normal;
          font-size: 28px;
          line-height: 28px;
          padding: 20px;
          display: flex;
          align-items: center;
          color: #BDBDBD;
          width: 350px;
        }

        // this overrules the .button properties in button.scss
        .button {
          margin-top: 0px;
        }

        .date-desc {
          margin-top: 10px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #383838;
        }

        .date-sub-desc {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: #383838;
        }

        #date-picker {
          border: 1px solid #BDBDBD;
          box-sizing: border-box;
          border-radius: 4px;
          color:#BDBDBD;
          // width is the same as the button
          width: 350px;
          padding: 9px 20px 9px 20px;
          font-family: Montserrat;
          font-style: italic;
          font-weight: normal;
          font-size: 16px;
          line-height: 16px;
        }

        .date-chosen {
          color: #383838;
        }
      }

      #share-urgently {
        display: flex;
        margin-top: 10px;
        margin-bottom: 40px;
        //arbitrary width to get all text to fit in one line
        width: 620px;

        img {
          margin-right: 10px;
        }

        div, span {
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
        }
        
        div {
          color: #383838;
        }

        span {
          color: #F05452;
        }

      }
    }
  }