@import '../color.scss';

.recover-password-modal-container {
  width: 350px;
  height: 230px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;

  input {
    width: 350px;
  }

  p {
    margin-top: 43px;
    line-height: 28px;
  }

  .progress-container {
    margin-top: 30px;
  }
}
