@import '../color.scss';

.recover-password-modal-container {
  width: 450px;
  height: 338px - 50px;
  padding-top: 40px;

  h2 {
    margin-top: 0px;
    margin-left: 48px;
    margin-bottom: 43px;
  }

  label {
    margin-left: 47px;
  }

  input {
    margin-left: 47px;
    margin-top: 10px;
    width: 330px;
    border-width: 2px;
    border-radius: 7px;
  }

  input[type='text'] {
    padding-left: 18px;
  }

  .recovery-button {
    margin-left: 48px;
    margin-top: 32px;
  }

  p {
    margin-top: 43px;
    margin-left: 47px;
    margin-right: 53px;
    line-height: 28px;
  }

  .validationResult {
    margin-left: 48px;
    color: $tangerine;
  }

  #progress-container {
    margin-top: 20px;
  }
}
