@import url('https://fonts.googleapis.com/css2?family=Montserrat');

.topNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 32px 32px 0 0px;
  #orgLogo {
    height: 35px;
  }
  #poweredByCWLogo {
    height: 32px;
  }
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-transform: capitalize;
    color: #383838;
  }
  h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #333333;
  }

  a {
    text-decoration: none;
    color: #2C58B1;
  }
}

.doctorContainer > * {
  z-index: -1;
}

.doctor1 {
  position: absolute;
  left: 7.43%;
  right: 74.29%;
  bottom: 0%;
  height: 33vh;
  max-height: 287px;
}

.doctor2 {
  position: absolute;
  left: 29.18%;
  right: 56.32%;
  bottom: 0%;
  height: 33vh;
  max-height: 287px;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  width: 498px;
  height: 397.89px;
  margin-top: 5%;
  padding: 40px 60px 40px 60px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;
  input {
    border: 2px solid #bdbdbd;
    border-radius: 4px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 20px;
  }
  label {
    font-family: 'Montserrat', sans-serif;
    color: #585858;
    margin-bottom: 10px;
    margin-top: 25px;
  }
  .button {
    margin-top: 30px;
  }
  a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #2c58b1;
    margin-top: 30px;
    text-decoration: none;
  }
  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 88px;
  margin-top: 90px;
}
