// @import url('https://fonts.googleapis.com/css2?family=Montserrat');

.header{
    display: flex;
    align-items: center;

    p{
        margin-left: 6%;
        font-size: 18px;
        color: #585858;
    }

    h1{
        margin-left: 99px;
    }
}
