.changeImageModalContainer {
  height: 160px;
  width: 400px;
  padding: 20px;

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15px;

    p {
      font-size: 18px;
    }

    input {
      border-width: 0px;
      margin-top: 15px;
    }
  }

  .save-button {
    width: 200px;
    height: 30px;
    padding: 0;
    margin-top: 30px;
  }
}
