.changeImageModalContainer {
  height: 280px;

    input {
      margin-top: 25px;
      margin-bottom: 15px;
      border-width: 0px;
    }

    .save-image{
        margin-left: 155px;
        margin-top: 60px;
    }
}
