## Compiled JavaScript files
**/*.js
**/*.js.map
!firebase-repl.js
!jest.config.js
!config/firebase.config.*.js


# Typescript v1 declaration files
typings/

node_modules/
permission-portal-*-firebase-admin-key.json
