@import 'screens/login';
@import 'screens/settings';
@import 'screens/add_member_modal';
@import 'screens/forgot_password_modal';
@import 'components/footer';
@import 'components/navbar';
@import 'components/toast';

.hidden {
  display: none;
}


  
  body {
    margin: 0px;

    // Default text style
    font-family: Montserrat;
    font-style: normal;
    color: #333333;
}

h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5em;
  line-height: 49px;
  color: #333333;
  margin-left: 32px;
}

