#footer {
  height: 50px;
}

.footerContainer {
  position:absolute;
  display: flex;
  flex-direction: row;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  
  a {
    font-family: Montserrat;
    font-size: 16px;
    text-align: center;
    color: #2C58B1;
    text-decoration: none;
    margin-right: 50px;
  }
  p {
    font-family: Montserrat;
    font-size: 16px;
    text-align: center;
    color: #2C58B1;
    margin: 0px;
    margin-right: 50px;
  }

  &.branded {
    min-height:100%;
    position:relative;

    background:url('/client/assets/powered-by-cw.svg');
    background-repeat: no-repeat;
    background-position-x: 115px;
    background-position-y: 36px;
  }
}