# Install Node dependencies and build app

name: Build

on:
  push:
    branches: [dev]

  pull_request:
    branches: [dev]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - name: Build node app
        working-directory: permission-portal-frontend
        env:
          CI: true
        run: |
          npm ci
          npm run build
