#sample-main {
    .sample-paper {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sample-avatar {
        margin: 8px;
        background-color: #f44336;
    }

    .sample-form {
        width: 100%;
        margin-top: 8px;
    }

    .sample-submit-btn {
        margin: 24px 0 16px;
    }
}